@import "../../styles/setting";

.navbar {
  border-bottom: 2px solid $brand-color;
}

.nav-item {
  padding-right: 1rem;
}

.user-name {
  color: $brand-color;
}

.language-select {
  border: 0.5px solid $brand-color;
  background-color: transparent;
}
