.booking-info {
  margin: 1rem;
  width: 100%;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.venue-img {
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.5);
  }
}

.card-title {
  font-weight: 400;
}
